p {
  font-family: Arial;
}
h1 {
  color: maroon;
}
.uppercase {
  text-transform: uppercase;
}

.introduction {
  height: 1000px;
}

.aboutme {
  height: 100px;
}
#website-title {
  font-family: cursive;
  text-transform: capitalize;
  font-size: 50pt
}
body{
  background: linear-gradient(pink,white);
}
