/* header {
  top:0;
  width: 100%;
  position: fixed;
  text-align: center;
  color:white;
}
*/
/*
First divider page
*/

.firstpage h1{
  position: absolute;
   font-size: 68px;
   width: 800px;
   text-align: center;
   top: calc(50vh - 110px);
   left: calc(50vw - 400px);
}

.firstpage h3{
  text-align: center;

}
.Whatpage{
  height: 70vh
}

.Whatpage h1{
  position: absolute;
    font-size: 30px;
    font-family: "Tenor Sans", sans-serif;
    width: 900px;
    text-align: center;
    bottom:-33%;
    left:20%;

}
.Whatpage p{
  position: absolute;
  text-align: center;

  bottom: -41%;
  left:41%;
  width:20em;
  height:50px;

}
#self{
  position: absolute; left:21%; bottom: -59% ;
  transform:rotate(90deg);

  border:3px solid #73AD21;

}

.Art{
  background-color: #FFCCFF;
  height: 100vh;
  max-height:200vh;
}

.Art h1{
  text-align: center;

}
.pic{
	width:400px;
	height:300px;
	background: url("/Users/roshnishah/Downloads/IMG_9582.jpg") ;
}
.pic2{
width:400px;
height:300px;
background: url("/Users/roshnishah/Downloads/IMG_9581.jpg") ;
}
.text{
	width:340px;
	height:217px;
	background:#FFF;
	opacity:0;
}
.text2{
	width:340px;
	height:217px;
	background:#FFF;
	opacity:0;
}
.pic:hover .text
{
	opacity:0.6;
	text-align:justify;
	color:#000000;
	font-size:20px;
	font-weight:700;
	font-family:"Times New Roman", Times, serif;
	padding:30px;
}



.contactme{
  background-color: maroon;
  height: 80vh;
  max-height: 200px;
}
#vsco{
      position: absolute;
      top: 250vh;
      left:70vh;
}
#pinterest{
      position: absolute;
      top: 250vh;
      left: 85vh;
}
#linkedin{
      position: absolute;
      top: 250vh;
      left:101vh;
}
